:root {
    --cor-fundo: rgba(255, 255, 255, 0.9);
    --cor-primaria: #4CAF50;
    --cor-secundaria: #3498DB;
    --cor-terciaria: #e74c3c;
    --cor-texto: #333;
    --cor-texto-branco: #fff;
    --cor-sombra: rgba(0, 0, 0, 0.1);
    --cor-sombra-forte: rgba(0, 0, 0, 0.3);
    --cor-fundo-card: rgba(206, 206, 206, 0.991);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url('thumb-1920-854825.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
    line-height: 1.6;
    position: relative;
    min-height: 100vh;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%;
    max-width: 1300px;
    margin: 20px auto;
    margin-top: 30px;		
    padding: 0 25px; 
    height: auto; 
    background: rgba(0, 0, 0, 0.1); 
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid #3498DB;
    position: relative;
    box-sizing: border-box;
}

.logo {
    height: 80px;
    max-width: 150px; 
    object-fit: contain; 
    margin: 0 12px; 
}

.header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
    padding: 5px 10px; 
    background-color: transparent;
    border-radius: 10px;
    margin: 0 15px; 
    box-sizing: border-box;
}

.header-text h1 {
    font-size: 2.3rem; 
    font-weight: bold;
    margin: 0 0 3px 0; 
    text-shadow: 0 0 10px rgba(0, 255, 191, 0.8), 0 0 20px rgba(0, 255, 191, 0.6);
    letter-spacing: 1px;
    color: rgb(0, 255, 191);
}

.header-text p {
    font-size: 1rem; 
    font-weight: bold;
    margin: 0; 
    color: #b1b0b0; 
}

.header-text h1:hover {
    color: #3498DB; 
    transform: scale(1.1);
}

#controleAcesso,
#cadastro {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    border: 2px solid #3498DB;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    padding: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
}

#controleAcesso:hover,
#cadastro:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.5);
}

.horizontal-card-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

#gerenciamentoRecursos {
    width: 100%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    border: 2px solid #3498DB;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;    
}

#gerenciamentoRecursos h2 {
    margin-bottom: 1px;
    font-size: 24px;
}

#listaRecursosCard,
#painelControle {
    flex: 1;
    width: 100%;
    height: 430px;
    border: 2px solid #3498DB;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    padding: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
}

#gerenciamentoRecursos:hover,
#listaRecursosCard:hover,
#painelControle:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.5);
}

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px;
    flex-wrap: wrap;
}

#listaRecursosCard {    
    height: 430px;
    background-color: rgba(255, 255, 255, 0.5);
    overflow: auto;
    font-size: 16px;
    border-radius: 10px;
    border: 2px solid #3498DB;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    padding: 20px;
    display: flex; 
    flex-direction: column; 
    justify-content: flex-start; 
    gap: 20px; 
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
}

#listaRecursos {
    color: #333;
    transition: background-color 0.3s;
    text-align: left;
}

#listaRecursos li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: var(--cor-fundo);
    margin: 5px 0;
    height: auto;
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
}

#listaRecursos li:first-child {
    background-color: transparent;
    box-shadow: 0 0 10px var(--cor-sombra-forte); 
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
}

#listaRecursos li:first-child:hover {
    transform: scale(1.08); 
    box-shadow: 0 0 20px var(--cor-sombra-forte); 
    background-color: rgb(241, 240, 215);
}

#listaRecursos li:first-child .label {
    font-weight: bold; 
}

#listaRecursos li:first-child .valor {
    font-weight: normal; 
}

#listaRecursos li:not(:first-child) {
    background-color: transparent; 
}

#listaRecursos li:not(:first-child):hover{
    transform: scale(1.08); 
    box-shadow: 0 0 20px var(--cor-sombra-forte); 
    background-color: rgb(241, 240, 215);
}

#listaRecursos li:not(:first-child) .label,
#listaRecursos li:not(:first-child) .valor {
    font-weight: normal; 
}

.item-info {
    flex-grow: 1;
    text-align: left;
}

.action-buttons {
    display: flex;
    gap: 5px;
}

#boasVindas {
    background-color: #f0f8ff;
    color: #333;
    font-size: 18px;
    font-weight: bold;
    padding: 20px;
    border: 2px solid #3498DB;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    display: none;
    max-width: 600px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3 ease;
}

#boasVindas:hover {
    transform: scale(1.05);
}

#boasVindas h2,
#boasVindas p {
    margin: 5px 0;
}

#boasVindas h2 {
    font-size: 24px;
    color: #333;
}

#boasVindas p {
    font-size: 18px;
    color: #333;
}

#boasVindas p::after {
    content: ".";
}

#boasVindas .mensagem {
    font-size: 18px;
    color: var(--cor-primaria);
}

.container {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 400px;
}

#painelControle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    padding: 20px;
    box-shadow: 0 4px 20px var(--cor-sombra);
    transition: transform 0.3s, box-shadow 0.3s;
}

#userIdentification {
    width: auto;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    border: 2px solid #3498DB;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    padding: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
}

#userIdentification:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.5);
}

#graficoContainer {
    width: 100%;
    height: calc(89% - 20px);
    margin: 0;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    background: linear-gradient(135deg, rgba(114, 255, 123, 0.861), rgba(34, 193, 195, 0.9));
    border-radius: 8px;
    border: 2px solid #3498DB;
    padding: 0;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#graficoRecursos {
    max-width: 100%;
    max-height: 100%;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #34495e;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8);
    letter-spacing: 0.5px;
    line-height: 1.5;
}

.usuario-nome {
    font-weight: bold;
    color: #4CAF50;
    font-size: 20px;
}

.nivel-credencial {
    font-weight: bold;
    font-size: 20px;
}

.nivel-credencial.administrador {
    color: #FF5733;
}

.nivel-credencial.gerente {
    color: #3498DB;
}

.nivel-credencial.funcionario {
    color: #e29b03;
}

.resource-card {
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    width: 200px;
    text-align: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.add-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}

.add-button:hover {
    background-color: #388E3C;
}

.filter-button {
    background-color: #3498DB;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.filter-button:hover {
    background-color: #2E86C1;
}

.remove-button {
    background-color: #f70303;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.remove-button:hover {
    background-color: #d32f2f;
}

.edit-button {
    background-color: #368703;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.edit-button:hover {
    background-color: #2ab300;
}

.login-button {
    background-color: #7282fff3;
}

.login-button:hover {
    background-color: #160094;
}

.forgot-password-button {
    background-color: #7282fff3;
}

.forgot-password-button:hover {
    background-color: #9f0000;
}

.new-user-button {
    background-color: #7282fff3;
}

.new-user-button:hover {
    background-color: #005f36;
}

.register-button {
    background-color: #7282fff3;
}

.register-button:hover {
    background-color: #005f36;
}

.cancel-button {
    background-color: #7282fff3;
}

.cancel-button:hover {
    background-color: #9f0000;    
}

.logout-button {
    background-color: #e91e36;
}

.logout-button:hover {
    background-color: #d81b1b;
}

button {
    background: #e74c3c;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s, transform 0.2s;
}

button:hover {
    background: #c0392b;
    transform: scale(1.05);
}

.edit-button, .remove-button {
    margin-left: 10px;
}

main {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
}

.painel-card {
    flex: 1;
    min-width: 300px;
    max-width: 400px;
    height: 430px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 20px var(--cor-sombra);
    background: rgba(206, 206, 206, 0.991);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
    padding: 5px;
    color: #333;
}

#gerenciamentoRecursos,
#painelControle {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

#listaRecursosCard,
#painelControle { 
    height: 507px;
}

.transparente-card {
    background: transparent;
    transition: background-color 0.3s;
}

.transparente-card:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.painel-card h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #043d34;
    text-align: center;
}

.card-title {
    background-color: lightblue;
    border: 2px solid #3498DB;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    margin-bottom: 15px;
    font-size: 24px;
    color: #333;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    gap: 10px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group input,
.input-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border 0.3s;
}

.input-group input:focus,
.input-group select:focus {
    border-color: #e74c3c;
}

.footer-content {
    text-align: center;
    padding: 15px;
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: transparent;
}

#graficoContainer:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

#voltarAoTopo {
    position: fixed;
    bottom: 70px;
    right: 30px;
    background: linear-gradient(135deg, rgba(10, 245, 237, 0.8), rgba(9, 94, 178, 0.8));
    border: none;
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
    color: white;
    display: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    font-size: 18px;
    transition: background 0.3s, transform 0.3s, box-shadow 0.3s;
}

#voltarAoTopo:hover {
    background: linear-gradient(135deg, rgba(9, 94, 178, 0.9), rgba(10, 245, 237, 0.9));
    transform: scale(1.1);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
}
