:root {
    --cor-fundo: rgba(10, 10, 10, 0.98); /* Fundo quase preto */
    --cor-primaria: #D4AF37; /* Ouro Queimado (Cor de destaque principal) */
    --cor-secundaria: #757575; /* Cinza Médio (Elementos secundários) */
    --cor-terciaria: #C62828; /* Vermelho Escuro */
    --cor-texto: #E0E0E0; /* Texto claro principal */
    --cor-texto-escuro: #212121; /* Texto escuro */
    --cor-sombra: rgba(0, 0, 0, 0.6);
    --cor-sombra-forte: rgba(0, 0, 0, 0.9);
    --cor-fundo-card: rgba(28, 28, 28, 0.95); /* Fundo de cards escuro */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url('Wayne-E-thumb.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: var(--cor-texto);
    line-height: 1.6;
    position: relative;
    min-height: 100vh;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 100%;
    max-width: 1300px;
    margin: 30px auto;
    margin-top: 30px;		
    padding: 15px 30px; 
    height: auto; 
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid var(--cor-primaria);
    box-shadow: 0 4px 15px var(--cor-sombra);
    position: relative;
    box-sizing: border-box;
}

.logo {
    height: 150px;
    max-width: 300px; 
    object-fit: contain; 
    margin: 0; 
    filter: drop-shadow(0 0 5px rgba(212, 175, 55, 0.5));
}

.header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    text-align: center;
    color: var(--cor-texto);
    padding: 5px 10px; 
    background-color: transparent;
    border-radius: 10px;
    margin: 0 15px; 
    box-sizing: border-box;
}

.header-text h1 {
    font-size: 5rem; 
    font-weight: bold;
    margin: 0; 
    text-shadow: 0 0 10px rgba(212, 175, 55, 0.8), 0 0 20px rgba(212, 175, 55, 0.6);
    letter-spacing: 1px;
    color: var(--cor-primaria); 
    filter: drop-shadow(0 0 5px rgba(212, 175, 55, 0.5));
}

.header-text p {
    font-size: 1rem; 
    font-weight: bold;
    margin: 0; 
    color: var(--cor-secundaria);
}

.header-text h1:hover {
    color: var(--cor-secundaria);
    transform: scale(1.05);
}

#controleAcesso,
#cadastro,
#userIdentification {
    background-color: var(--cor-fundo-card);
    border-radius: 10px;
    border: 2px solid var(--cor-primaria);
    box-shadow: 0 4px 20px var(--cor-sombra);
    padding: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
    color: var(--cor-texto);
    margin-top: 300px;
}

#controleAcesso:hover,
#cadastro:hover,
#userIdentification:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 40px var(--cor-sombra-forte);
}

.horizontal-card-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

#gerenciamentoRecursos {
    width: 100%;
    height: auto;
    background-color: var(--cor-fundo-card);
    border-radius: 10px;
    border: 2px solid var(--cor-primaria);
    box-shadow: 0 4px 20px var(--cor-sombra);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease; 	
    color: var(--cor-texto);
}

#gerenciamentoRecursos h2 {
    margin-bottom: 1px;
    font-size: 24px;
}

#listaRecursosCard,
#painelControle {
    flex: 1;
    width: 100%;
    height: 430px;
    background-color: var(--cor-fundo-card); 
    border: 2px solid var(--cor-primaria);
    box-shadow: 0 4px 20px var(--cor-sombra);
    padding: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
    color: var(--cor-texto);
}

#gerenciamentoRecursos:hover,
#listaRecursosCard:hover,
#painelControle:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 40px var(--cor-sombra-forte);
}

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px;
    flex-wrap: wrap;
}

#listaRecursosCard { 	
    height: 430px;
    background-color: var(--cor-fundo-card);
    overflow: auto;
    font-size: 16px;
    border-radius: 10px;
    border: 2px solid var(--cor-primaria);
    box-shadow: 0 4px 20px var(--cor-sombra);
    padding: 20px;
    display: flex; 
    flex-direction: column; 
    justify-content: flex-start; 
    gap: 20px; 
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
}

#listaRecursos {
    color: var(--cor-texto);
    transition: background-color 0.3s;
    text-align: left;
}

#listaRecursos li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.4);
    margin: 5px 0;
    height: auto;
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
    color: var(--cor-texto);
}

#listaRecursos li:first-child {
    background-color: rgba(212, 175, 55, 0.1);
    box-shadow: 0 0 10px var(--cor-sombra-forte); 
}

#listaRecursos li:first-child:hover {
    transform: scale(1.03);
    box-shadow: 0 0 20px var(--cor-primaria); 
    background-color: rgba(212, 175, 55, 0.2);
}

#listaRecursos li:first-child .label,
#listaRecursos li:first-child .valor {
    font-weight: bold; 
    color: var(--cor-primaria);
}

#listaRecursos li:not(:first-child) {
    background-color: rgba(0, 0, 0, 0.4); 
}

#listaRecursos li:not(:first-child):hover{
    transform: scale(1.03);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
    background-color: rgba(0, 0, 0, 0.6);
}

#listaRecursos li:not(:first-child) .label,
#listaRecursos li:not(:first-child) .valor {
    font-weight: normal; 
}

.item-info {
    flex-grow: 1;
    text-align: left;
}

.action-buttons {
    display: flex;
    gap: 5px;
}

#boasVindas {
    background-color: var(--cor-fundo-card); 
    color: var(--cor-texto); 
    font-size: 18px;
    font-weight: bold;
    padding: 20px;
    border: 2px solid var(--cor-primaria);
    border-radius: 10px;
    box-shadow: 0 4px 10px var(--cor-sombra);
    margin-top: 20px;
    display: none;
    max-width: 600px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3 ease;
}

#boasVindas:hover {
    transform: scale(1.03);
}

#boasVindas h2,
#boasVindas p {
    margin: 5px 0;
    color: var(--cor-texto); 
}

#boasVindas h2 {
    font-size: 24px;
    color: var(--cor-primaria);
}

#boasVindas p {
    font-size: 18px;
}

#boasVindas p::after {
    content: ".";
}

#boasVindas .mensagem {
    font-size: 18px;
    color: var(--cor-secundaria);
}

.container {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 400px;
}

#painelControle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    padding: 20px;
    box-shadow: 0 4px 20px var(--cor-sombra);
    transition: transform 0.3s, box-shadow 0.3s;
}

#graficoContainer {
    width: 100%;
    height: calc(89% - 20px);
    margin: 0;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    background: linear-gradient(135deg, rgba(10, 10, 10, 0.9), rgba(212, 175, 55, 0.3));
    border-radius: 8px;
    border: 2px solid var(--cor-primaria);
    padding: 0;
    box-shadow: 0 4px 15px var(--cor-sombra);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#graficoRecursos {
    max-width: 100%;
    max-height: 100%;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: var(--cor-texto);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
    letter-spacing: 0.5px;
    line-height: 1.5;
}

.usuario-nome {
    font-weight: bold;
    color: var(--cor-primaria);
    font-size: 20px;
}

.nivel-credencial {
    font-weight: bold;
    font-size: 20px;
}

.nivel-credencial.administrador {
    color: var(--cor-terciaria);
}

.nivel-credencial.gerente {
    color: var(--cor-secundaria);
}

.nivel-credencial.funcionario {
    color: var(--cor-primaria);
}

.resource-card {
    border: 2px solid var(--cor-primaria);
    border-radius: 8px;
    padding: 15px;
    width: 200px;
    text-align: center;
    box-shadow: 2px 2px 10px var(--cor-sombra);
    background-color: var(--cor-fundo-card);
    color: var(--cor-texto);
}

/* --- Botões --- */

.add-button {
    background-color: var(--cor-primaria); 
    color: var(--cor-texto-escuro);
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}

.add-button:hover {
    background-color: #A1882E; 
}

.filter-button {
    background-color: var(--cor-secundaria); 
    color: var(--cor-texto-escuro);
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.filter-button:hover {
    background-color: #616161; 
}

.remove-button {
    background-color: var(--cor-terciaria); 
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.remove-button:hover {
    background-color: #A91E1E;
}

.edit-button {
    background-color: var(--cor-secundaria); 
    color: var(--cor-texto-escuro);
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.edit-button:hover {
    background-color: #616161;
}

/* Botões de Acesso (Login, Cadastro, etc.) */
.login-button,
.forgot-password-button,
.new-user-button,
.register-button,
.cancel-button {
    background-color: var(--cor-primaria);
    color: var(--cor-texto-escuro);
}

.login-button:hover,
.forgot-password-button:hover {
    background-color: #A1882E; 
}

.new-user-button:hover,
.register-button:hover {
    background-color: #A1882E;
}

.cancel-button:hover {
    background-color: var(--cor-terciaria);
}

.logout-button {
    background-color: var(--cor-terciaria);
    color: white;
}

.logout-button:hover {
    background-color: #A91E1E;
}

button {
    background: var(--cor-primaria);
    color: var(--cor-texto-escuro);
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s, transform 0.2s;
}

button:hover {
    background: #A1882E;
    transform: scale(1.05);
}

.edit-button, .remove-button {
    margin-left: 10px;
}

main {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
}

.painel-card {
    flex: 1;
    min-width: 300px;
    max-width: 400px;
    height: 430px;
    background-color: var(--cor-fundo-card);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 20px var(--cor-sombra);
    margin-bottom: 20px;
    padding: 5px;
    color: var(--cor-texto);
}

#gerenciamentoRecursos,
#painelControle {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

#listaRecursosCard,
#painelControle { 
    height: 507px;
}

.transparente-card {
    background: transparent;
    transition: background-color 0.3s;
}

.transparente-card:hover {
    background-color: rgba(33, 33, 33, 0.3);
}

.painel-card h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: var(--cor-primaria);
}

.card-title {
    background-color: rgba(212, 175, 55, 0.2);
    border: 2px solid var(--cor-primaria);
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    margin-bottom: 15px;
    font-size: 24px;
    color: var(--cor-texto);
    box-shadow: 0 2px 10px var(--cor-sombra);
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    gap: 10px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group input,
.input-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--cor-secundaria);
    border-radius: 5px;
    transition: border 0.3s;
    background-color: rgba(40, 40, 40, 0.9);
    color: var(--cor-texto); 
}

.input-group input:focus,
.input-group select:focus {
    border-color: var(--cor-primaria); 
}

.footer-content {
    text-align: center;
    padding: 15px;
    color: var(--cor-texto);
    position: absolute;
    bottom: 0;
    width: 100%;
    background: transparent;
}

#graficoContainer:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 20px rgba(212, 175, 55, 0.5);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

#voltarAoTopo {
    position: fixed;
    bottom: 70px;
    right: 30px;
    background: linear-gradient(135deg, rgba(212, 175, 55, 0.8), rgba(161, 136, 46, 0.8));
    border: none;
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
    color: var(--cor-texto-escuro);
    display: none;
    box-shadow: 0 4px 10px var(--cor-sombra);
    font-size: 18px;
    transition: background 0.3s, transform 0.3s, box-shadow 0.3s;
}

#voltarAoTopo:hover {
    background: linear-gradient(135deg, rgba(161, 136, 46, 0.9), rgba(212, 175, 55, 0.9));
    transform: scale(1.1);
    box-shadow: 0 6px 15px rgba(212, 175, 55, 0.5);
}